@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&display=swap');

body {
    background-color: rgb(231, 231, 231);
    font-family: 'Dosis', sans-serif;
}

.container {
    position: absolute;
    /* top: 20%;
    left: 20%; */
    border-radius: 29px/87px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 50%;
    width: 100%;
    background-color: aliceblue;
}

input {
    outline: none;
    background: none;
    border: none;
    padding-left: 10px;
    font-size: 1.2rem;
}

.input-fields {
    display: flex;
    width: fit-content;
    gap: 1rem;
    width: 50%;
    height: 60px;
    align-items: center;
    margin-top: 50px;
    margin-left: 30px;

}

.left-input,
.options,
.mid-input,
.right-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.options,
.mid-input {
    cursor: pointer;
}

.left-input {
    border: 1px solid;
    border-radius: 30px 0 0 30px;
    height: 80%;
}

.left-input-zm{
    border-radius: 30px 0 0 30px;
}

.right-input {
    border: 1px solid;
    border-radius: 0 30px 30px 0;
    height: 80%;
}

.option-text {
    font-weight: bolder;
}

.fi{
    border-radius: 50%;
    font-size: 1.36rem;
    margin-right: 0.15em;
}


